* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

div#header {
    width: 100%;
    height: 55px;
    background-color: #2c3e50;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.logo a {
    font-size: 1.6em;
    color: #fff;
}

.logo a span {
    font-weight: 300;
}

div#container {
    width: 100%;
    margin: 0 auto;
}

.sidebar {
    width: 250px;
    background: #171717;
    float: left;
}

ul#nav {}

ul#nav li {
    list-style: none;
}

ul#nav li a {
    color: #ccc;
    display: block;
    padding: 15px;
    font-size: 1.2em;
    border-top: 0px solid #006064;
    border-bottom: 0px solid #006064;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul#nav li a:hover {
    background: #3eaca8;
    color: #fff;
}

ul#nav li a.selected {
    background: #030303;
    color: #fff;
}

.content {
    width: auto;
    height: 100%;
    background: #FFFFFF;
    margin-left: 250px;
    padding: 15px;
}

.content p {
    color: #424242;
    fonnt-size: 0.8em;
}

.upload-file {
    opacity: 0;
    position: absolute;
    z-index: 1;
}

div#box {
    margin-top: 15px;
}

div#box .box-top {
    color: #fff;
    text-shadow: 0 1px #000;
    background: #2980b9;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;
}

div#box .box-panel {
    padding: 15px;
    background: #eeeeee;
    color: #333;
}

@media only screen and (max-width: 480px) {
    a.mobile {
        display: block;
        color: #fff;
        background: #000;
        text-align: center;
        padding: 7px;
        cursor: pointer;
    }
    a.mobile:active {
        background: #474747;
    }
    .sidebar {
        width: 100%;
        display: none;
        height: auto;
    }
    .content {
        margin-left: 0;
    }
}

@media only screen and (min-width: 480px) {
    .sidebar {
        min-height: 900px;
        display: block;
    }
    a.mobile {
        display: none;
    }
}

table {
    width: 100%;
    table-layout: fixed;
}

.users {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.users td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-type {
    width: 10%;
}

.row-name {
    width: 20%;
}

.row-owner {
    width: 20%;
}

.row-size {
    width: 20%;
}

.row-function {
    width: 30%;
}

.fade {
    color: #fff;
    padding: 10px;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 1;
   background-color: #fff;
   z-index: 99;
   text-align: center;

}

#loading-image {
  position: absolute;;
  top: 45%;
  left: 45%;
  z-index: 100;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
