<!DOCTYPE html>
<html ng-app lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Edit group</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700' rel='stylesheet' type='text/css'>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/bootstrap-modal.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body ng-controller="AppCtrl">
  <nav class="cyan darken-4" role="navigation">
    <div class="nav-wrapper ">
      <a id="logo-container" class="brand-logo" href="#"><h5>&nbsp;&nbsp;&nbsp;&nbsp;<img src="./image/sit.png" alt="Mountain View" style="width:32px;height:32px;">&nbsp;sitDrive</h5></a>
      <a class="dropdown-button right " data-beloworigin="true" href="#!" data-activates="dropdown2"><i class="mdi-navigation-arrow-drop-down right material-icons">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; person &nbsp;&nbsp;</i></a>
      <a href="#" data-activates="nav-mobile dropdown-button" class="mobile button-collapse cyan darken-4"><i class="material-icons">menu</i></a>
    </div>
    <ul id="dropdown2" class="right dropdown-content ">

			<li><a href="#!">{{username}}</a></li>
			<li><a href="/signout">Logout</a></li>
			<!-- <li ng-if="used/1024 <= 1024" class="hide-on-med-and-up"><a>{{(used)/1024|number:2}} KB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</a></li>
      <li ng-if="used/1024 > 1024" class="hide-on-med-and-up"><a>{{((used)/1024)/1024|number:2}} MB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</a></li> -->
        <li  class="hide-on-med-and-up" ><a>Used {{(used/quota)*100| number:2}}%</a></li>
    </ul>
  </nav>



  <!-- <a class="mobile">MENU</a> -->


  <div id="container">
    <div class="sidebar grey darken-3">
      <ul id="nav">
        <li><a href="/mydrive">&nbsp;&nbsp;&nbsp;My Drive</a></li>
        <li><a href="/mygroups">&nbsp;&nbsp;&nbsp;My Groups</a></li>
        <li><a href="/sharewithme">&nbsp;&nbsp;&nbsp;Share with me</a></li>
        <li class="hide-on-small-only">
          <!-- <p class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{used}} used of {{(((quota)/1024)/1024)/1024|number:2}} GB</p> -->
          <br class="hide-on-small-only">
  				<br class="hide-on-small-only">
  				<br class="hide-on-small-only">
  				<br class="hide-on-small-only">
  				<br class="hide-on-small-only">
  				<li class="hide-on-small-only">
  					<!-- <p class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{used}} used of {{(((quota)/1024)/1024)/1024|number:2}} GB</p> -->
            <p ng-if="used/1024 <= 1024" class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{(used)/1024|number:2}} KB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</p>
            <p ng-if="used/1024 > 1024" class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{((used)/1024)/1024|number:2}} MB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</p>
          </li>
  			</ul>
    </div>

    <!--<div class="blue-grey">
      <a href="#!" class="breadcrumb">&nbsp;&nbsp;&nbsp;&nbsp;First</a>
      <a href="#!" class="breadcrumb">Second</a>
      <a href="#!" class="breadcrumb">Third</a>
    </div>-->

    <div class="content">
      <!-- <div class="container"> -->
      <h4>Group A</h4>
      <table class="center responsive highlight" style="word-wrap:break-word;">
        <thead>
          <tr>
            <th data-field="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member</th>
            <th data-field="name">Permission</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56130500254</td>
            <td>
              <form>
                <p>
                  <input type="checkbox" id="test5" />
                  <label for="test5">Red</label>
                </p>
                <p>
                  <input type="checkbox" id="test5" />
                  <label for="test5">Red</label>
                </p>
              </form>
            </td>
          </tr>

          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56130500221</td>
            <td>

            </td>
          </tr>

          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56130500202</td>
            <td>

            </td>
          </tr>

          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56130500233</td>
            <td>

            </td>
          </tr>

        </tbody>
      </table>
      <br>
      <br>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="waves-effect waves-light btn">Save</a>
      <!--pop up share with group-->

    </div>

    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large blue darken-4">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li>
          <a class="btn-floating btn tooltipped btn modal-trigger blue lighten-1" href="#modal5" data-position="top" data-delay="50" data-tooltip=" Upload file">
            <i class="material-icons">file_upload</i>
          </a>

        </li>
        <li>
          <a class="btn-floating btn tooltipped btn modal-trigger blue lighten-1" href="#modal1" data-position="top" data-delay="50" data-tooltip=" New folder">
            <i class="material-icons">create_new_folder</i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <script src="js/bootstrap-modal.js"></script>
  <script src="js/bootstrap-modalmanager.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a.mobile").click(function() {
        $(".sidebar").slideToggle('fast');
      });

      window.onresize = function(event) {
        if ($(window).width() > 480) {
          $(".sidebar").show();
        }
      };

      $(document).ready(function() {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
      });
      $(document).ready(function() {
        $('.scrollspy').scrollSpy();
      });


    });
  </script>
  <script src="js/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
  <script src="controllers/dashboard_ctrl.js"></script>
</body>

</html>
