<!DOCTYPE html>
<html ng-app lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>My Drive</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700' rel='stylesheet'
        type='text/css'>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/bootstrap-modal.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body ng-controller="AppCtrl">

    </div>
    <nav class="cyan darken-4" role="navigation">
        <div class="nav-wrapper js">

            <a id="logo-container" class="brand-logo" href="#">
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;<img src="./image/sit.png" alt="Mountain View" style="width:32px;height:32px;">&nbsp;sitDrive</h5>
            </a>
            <a class="dropdown-button right " data-beloworigin="true" href="#!" data-activates="dropdown2"><i class="mdi-navigation-arrow-drop-down right material-icons">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; person &nbsp;&nbsp;</i></a>
            <a href="#" data-activates="nav-mobile dropdown-button" class="mobile button-collapse cyan darken-4"><i class="material-icons">menu</i></a>
        </div>
        <ul ng-cloak id="dropdown2" class="right dropdown-content">
            <li><a href="#!">{{username}}</a></li>
            <!-- <li ng-if="used/1024 <= 1024" class="hide-on-med-and-up"><a>{{(used)/1024|number:2}} KB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</a></li> -->
            <!-- <li ng-if="used/1024 > 1024" class="hide-on-med-and-up"><a>{{((used)/1024)/1024|number:2}} MB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</a></li> -->
            <li class="hide-on-med-and-up"><a>Used {{(used/quota)*100| number:2}}%</a></li>
            <li><a href="/signout">Logout</a></li>
        </ul>
    </nav>


    <div id="container">
        <div class="sidebar grey darken-3">
            <ul id="nav">
                <li><a href="" ng-click="myDrive()">&nbsp;&nbsp;&nbsp;My Drive</a></li>
                <!--<li><a href="/mygroups">&nbsp;&nbsp;&nbsp;My Groups</a></li>-->
                <li><a href="/sharewithme">&nbsp;&nbsp;&nbsp;Share with me</a></li>
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <li class="hide-on-small-only">
                    <p ng-cloak ng-if="used/1024 <= 1024" class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{(used)/1024|number:2}} KB used of {{(((quota)/1024)/1024)/1024|number:2}}
                        GB
                    </p>
                    <p ng-cloak ng-if="used/1024 > 1024" class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{((used)/1024)/1024|number:2}} MB used of {{(((quota)/1024)/1024)/1024|number:2}}
                        GB
                    </p>
                </li>
            </ul>

        </div>

        <div class="blue-grey">

            <a onmouseover="" style="cursor: pointer;" ng-click="myDrive()"><i class="material-icons md-28 white-text" style="margin-top: 8px; margin-bottom: 8px;">&nbsp;&nbsp;home</i></a>

        </div>

        <div class="content">
            <!-- <div id="loading">
                <img id="loading-image" src="./image/reload.gif" alt="Loading..." />

            </div> -->
            <table class="center responsive highlight users" style="word-wrap:break-word;">
                <thead>
                    <tr>
                        <th class="row-1 row-type"></th>
                        <th class="row-2 row-name">Name</th>
                        <th class="row-3 row-owner">Owner</th>
                        <th class="row-4 row-size">File size</th>
                        <th class="row-5 row-function"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak ng-repeat="folder in folderlist">
                        <td><i class="small material-icons blue-text" onmouseover="" style="cursor: pointer;" ng-click="updatePath(folder.foldername)">folder</i></td>
                        <td>{{folder.foldername}}</td>
                        <td>me</td>
                        <td>-</td>
                        <td>
                            <a class="tooltipped modal-trigger" href="" data-position="bottom" data-delay="50" data-tooltip="Share with group" ng-click="clickfoldername(folder.foldername)"
                                data-toggle="modal" data-target="#sharefoldermodal"><i class="material-icons">people</i></a>
                            <a class="tooltipped" href="" ng-click="removeFolder(folder)" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="red-text material-icons">delete</i></a>
                        </td>
                        <!--SHARE FOLDER POPUP-->
                        <div id="sharefoldermodal" class="modal">
                            <div class="modal-content">
                                <div class="row">
                                    <h5>&nbsp; Share Folder: {{varfoldername}}</h5>
                                    <form class="col s12 m12 l12">
                                        <!-- <div class="row"> -->
                                        <div class="input-field col s12">
                                            <input placeholder="56130xxxxx" id="SharePerson" required type="text" ng-model="user.name">
                                            <label for="SharePerson">Student ID:</label>
                                        </div>
                                        <!-- </div> -->
                                        <!--<div class="row">
                                            <div class="input-field col s12">
                                                <select>
                          <option value="" disabled selected>Choose group</option>
                          <option value="1">Group 1</option>
                          <option value="2">Group 2</option>
                          <option value="3">Group 3</option>
                        </select>
                                                <label>Group:</label>
                                            </div>
                                        </div>-->
                                        <!--<div class="row">
											&nbsp;&nbsp;&nbsp;<label>Permission:</label>
											<div>
												<div class="input-field col s4">
													<input type="checkbox" class="filled-in" id="ReadACL" ng-model="user.upload" />
													<label for="ReadACL">Upload</label>
												</div>
												<div class="input-field col s4">
													<input type="checkbox" class="filled-in" id="WriteACL" ng-model="user.delete" />
													<label for="WriteACL">Delete</label>
												</div>
											</div>
										</div>-->
                                    </form>
                                    <form class="col s12 m12 l12">

                                        <div class="row">

                                            <input type="button" class="btn btn-primary" ng-click="folderReset()" value="Reset" />

                                            <input type="submit" class="btn btn-primary" ng-click="folderUpdate(user)" value="Save" />

                                            <input type="button" class="btn btn-primary" ng-click="sharefolder(foldermember)" value="Share" />

                                        </div>
                                    </form>
                                    <label>share with:</label>
                                    <div style="height:90px;width:auto;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                                        <div ng-repeat="item in foldermember">
                                            {{item.name}}<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tr>
                </tbody>
                <tbody>
                    <tr ng-cloak ng-repeat="file in containerlist">
                        <td><i class="small material-icons yellow-text">description</i></td>
                        <td>{{file.filename}}</td>
                        <td>me</td>
                        <td ng-if="file.size/1024 > 1024000">{{(file.size/1024)/1024|number:2}} GB</td>
                        <td ng-if="file.size/1024 > 1024 && file.size/1024 <= 1024000 ">{{(file.size/1024)/1024|number:2}} MB</td>
                        <td ng-if="file.size/1024 <= 1024">{{(file.size/1024)|number:2}} KB</td>
                        <td>
                            <a class="tooltipped modal-trigger" href="" data-position="bottom" ng-click="clickfilename(file.filename,file.size)" data-toggle="modal"
                                data-target="#sharefilemodal"><i class="material-icons">people</i></a>
                            <a class="tooltipped" href="" ng-click="remove(file)" data-position="bottom"><i class="red-text material-icons">delete</i></a>
                            <a class="tooltipped" data-position="bottom" ng-href="/download/{{file.filename}}"><i class="green-text material-icons">file_download</i></a>
                        </td>


                        <div id="sharefilemodal" class="modal">
                            <div class="modal-content">
                                <div class="row">
                                    <h5>&nbsp;&nbsp;Share File: {{varfilename}}</h5>
                                    <form class="col s12 m12 l12">
                                        <!-- <div class="row"> -->
                                        <div class="input-field col s12 l12">
                                            <input placeholder="56130xxxxx" id="SharePerson" type="text" ng-model="user.name">
                                            <label for="SharePerson">Student ID:</label>
                                        </div>
                                        <!--<div class="row">
                                                <div class="input-field col s12">
                                                    <select>
                          <option value="" disabled selected>Choose group</option>
                          <option value="1">Group 1</option>
                          <option value="2">Group 2</option>
                          <option value="3">Group 3</option>
                        </select>
                                                    <label>Group:</label>
                                                </div>
                                            </div>-->
                                    </form>

                                    <form class="col s12 m12 l12">
                                        <div class="row ">

                                            <input type="button" class="btn btn-primary" ng-click="reset()" value="Reset" />


                                            <input type="submit" class="btn btn-primary" required ng-click="update(user)" value="Save" />


                                            <input type="button" class="btn btn-primary" required ng-click="sharefile(member)" value="Share" />

                                        </div>
                                    </form>
                                    <label>share with:</label>
                                    <div style="height:90px;width:auto;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                                        <div ng-repeat="item in member">
                                            <!--{{item.name}} Download :{{item.read}} Upload :{{item.write}}<br>-->
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tr>
                </tbody>

        </div>
    </div>
    </tr>
    </tbody>
    </table>

    </div>
    <div class="fixed-action-btn horizontal fade" style="bottom: 20px; right: 20px;">
        <a class="btn-floating btn-large blue darken-4">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating btn tooltipped btn modal-trigger blue lighten-1" href="#modal5" data-position="top" data-delay="50"
                    data-tooltip=" Upload file">
                    <i class="material-icons">file_upload</i>
                </a>

            </li>
            <li>
                <a class="btn-floating btn tooltipped btn modal-trigger blue lighten-1" href="#modal1" data-position="top" data-delay="50"
                    data-tooltip=" New folder">
                    <i class="material-icons">create_new_folder</i>
                </a>
            </li>
        </ul>
    </div>

    </div>


    <!--pop up share link-->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Share link</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input value="www.google.com" id="first_name2" type="text" class="validate">
                </div>
            </div>
        </div>
    </div>

    <!--pop up new folder-->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Create new folder</h4>
            <form action="/createfolder" method="post" enctype="application/json">
                <input type="text" id="name" required name="name" placeholder="Enter your foldername" />
                <div class="modal-footer">
                    <div class="waves-effect waves-green btn-flat pull-right">
                        <input type="submit" value="Create" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--pop up new file-->
    <div id="modal5" class="modal">
        <div class="modal-content">
            <h4>Upload file</h4>
            <div class="row">
                <div class="input-field col s12">
                    <form action="/uploadfile" method="post" enctype="multipart/form-data">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Browse</span>
                                <input type="file" required name="file" id="myFile">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                            <!-- <p id="fsize"></p> -->
                        </div>


                        <div class="modal-footer" id='fsize'>

                            <!-- <div ng-if="used+file.size > quota "class="waves-effect waves-green btn-flat btn disabled pull-right"> -->
                            <!-- <div ng-if="used+file.size <= quota "class="waves-effect waves-green btn-flat pull-right"> -->
                            <div class="waves-effect waves-green btn-flat pull-right">
                                <input type="submit" onclick="uploadToast()" required value="Upload">
                            </div>

                        </div>


                </div>
                </form>
            </div>
        </div>
    </div>
    </div>


    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-modalmanager.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.mobile").click(function() {
                $(".sidebar").slideToggle('fast');
            });

            window.onresize = function(event) {
                if ($(window).width() > 480) {
                    $(".sidebar").show();
                }
            };

            $(document).ready(function() {
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal-trigger').leanModal();
            });
            $(document).ready(function() {
                $('.scrollspy').scrollSpy();
            });


        });
    </script>
    <script type="text/javascript">
        $(window).scroll(function() {

            if ($(this).scrollTop() > 0) {
                $('.fade').fadeOut();
            } else {
                $('.fade').fadeIn();
            }
        });

        $(document).ready(function() {
            $('select').material_select();
        });

        function uploadToast() {
            Materialize.toast('Uploading...', 5000)
        }
        // delay
        $(window).load(function() {
            setTimeout(function() {
                $('#loading').hide();

            }, 500);


        });
    </script>
    <script src="js/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="controllers/dashboard_ctrl.js"></script>
</body>

</html>