<!DOCTYPE html>
<html ng-app="myapp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>New group</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700' rel='stylesheet' type='text/css'>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/bootstrap-modal.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
</head>

<body ng-controller="groupController">
    <nav class="cyan darken-4" role="navigation">
        <div class="nav-wrapper ">
            <a id="logo-container" class="brand-logo" href="#"><h5>&nbsp;&nbsp;&nbsp;&nbsp;<img src="./image/sit.png" alt="Mountain View" style="width:32px;height:32px;">&nbsp;sitDrive</h5></a>
            <a class="dropdown-button right " data-beloworigin="true" href="#!" data-activates="dropdown2"><i class="mdi-navigation-arrow-drop-down right material-icons">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; person &nbsp;&nbsp;</i></a>
            <a href="#" data-activates="nav-mobile dropdown-button" class="mobile button-collapse cyan darken-4"><i class="material-icons">menu</i></a>
        </div>
        <ul id="dropdown2" class="right dropdown-content ">

            <li><a href="#!">{{username}}</a></li>
            <li><a href="/signout">Logout</a></li>
            <!-- <li ng-if="used/1024 <= 1024" class="hide-on-med-and-up"><a>{{(used)/1024|number:2}} KB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</a></li>
            <li ng-if="used/1024 > 1024" class="hide-on-med-and-up"><a>{{((used)/1024)/1024|number:2}} MB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</a></li> -->
              <li class="hide-on-med-and-up"><a>Used {{(used/quota)*100| number:2}}%</a></li>
        </ul>
    </nav>
    <!-- <a class="mobile">MENU</a> -->
    <div id="container">
        <div class="sidebar grey darken-3">
            <ul id="nav">
                <li><a href="/mydrive">&nbsp;&nbsp;&nbsp;My Drive</a></li>
                <li><a href="/mygroups">&nbsp;&nbsp;&nbsp;My Groups</a></li>
                <li><a href="/sharewithme">&nbsp;&nbsp;&nbsp;Share with me</a></li>
                <li class="hide-on-small-only">
                    <!-- <p class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{used}} used of {{(((quota)/1024)/1024)/1024|number:2}} GB</p> -->
                    <p ng-cloak ng-if="used/1024 <= 1024" class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{(used)/1024|number:2}} KB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</p>
                    <p ng-cloak ng-if="used/1024 > 1024" class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{((used)/1024)/1024|number:2}} MB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</p>
                </li>
            </ul>
        </div>



        <!-- <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div> -->





        <div class="content">

            <h5>Group member</h5>
            <table cellpadding="2" cellspacing="2">
                <tr>
                    <td><input placeholder="Student ID" type="text" ng-model="username"></td>
                    <td><input class="btn" type="button" value="Add" ng-click="add()"></td>
                </tr>

            </table>

            <table class=" highlight">
                <tr>
                    <th>Username</th>
                    <th></th>
                </tr>
                <tr ng-repeat="member in listMembers">
                    <td>{{member.username}}</td>
                    <td><a href="#" ng-click="del(member.username)"><i class="material-icons red-text">delete</i></a></td>
                </tr>
            </table>


        </div>


        <script type="text/javascript">
            var myapp = angular.module('myapp', []);
            myapp.controller('groupController', function($scope) {

                $scope.listMembers = [

                ];
                $scope.add = function() {
                    $scope.listMembers.push({
                        username: $scope.username
                    });
                    $scope.username = '';
                };
                $scope.del = function(username) {
                    var result = confirm('Are you sure?');
                    if (result === true) {
                        var index = getSelectedIndex(username);
                        $scope.listMembers.splice(index, 1);

                    }
                };

                function getSelectedIndex(username) {
                    for (var i = 0; i < $scope.listMembers.length; i++)
                        if ($scope.listMembers[i].username == username)
                            return i;
                    return -1;
                }
            });
        </script>

</body>

</html>
