<!DOCTYPE html>
<html ng-app lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Share with me</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700' rel='stylesheet'
        type='text/css'>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/bootstrap-modal.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body ng-controller="AppCtrl">
    <nav class="cyan darken-4" role="navigation">
        <div class="nav-wrapper ">
            <!-- <div id="loading">
                <img id="loading-image" src="./image/reload.gif" alt="Loading..." />
            </div> -->
            <a id="logo-container" class="brand-logo" href="#">
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;<img src="./image/sit.png" alt="Mountain View" style="width:32px;height:32px;">&nbsp;sitDrive</h5>
            </a>
            <a class="dropdown-button right " data-beloworigin="true" href="#!" data-activates="dropdown2"><i class="mdi-navigation-arrow-drop-down right material-icons">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; person &nbsp;&nbsp;</i></a>
            <a href="#" data-activates="nav-mobile dropdown-button" class="mobile button-collapse cyan darken-4"><i class="material-icons">menu</i></a>
        </div>
        <ul id="dropdown2" class="right dropdown-content ">

            <li><a href="#!">{{username}}</a></li>

            <!-- <li ng-if="used/1024 <= 1024" class="hide-on-med-and-up"><a>{{(used)/1024|number:2}} KB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</a></li>
            <li ng-if="used/1024 > 1024" class="hide-on-med-and-up"><a>{{((used)/1024)/1024|number:2}} MB used of {{(((quota)/1024)/1024)/1024|number:2}} GB</a></li> -->
            <li class="hide-on-med-and-up"><a>Used {{(used/quota)*100| number:2}}%</a></li>
            <li><a href="/signout">Logout</a></li>
        </ul>
    </nav>



    <div id="container">
        <div class="sidebar grey darken-3">
            <ul id="nav">
                <li><a href="/mydrive">&nbsp;&nbsp;&nbsp;My Drive</a></li>
                <!--<li><a href="/mygroups">&nbsp;&nbsp;&nbsp;My Groups</a></li>-->
                <li><a href="" ng-click="sharewithme()">&nbsp;&nbsp;&nbsp;Share with me</a></li>
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <br class="hide-on-small-only">
                <li class="hide-on-small-only">
                    <!-- <p class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{used}} used of {{(((quota)/1024)/1024)/1024|number:2}} GB</p> -->
                    <p ng-cloak ng-if="used/1024 <= 1024" class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{(used)/1024|number:2}} KB used of {{(((quota)/1024)/1024)/1024|number:2}}
                        GB</p>
                    <p ng-cloak ng-if="used/1024 > 1024" class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{((used)/1024)/1024|number:2}} MB used of {{(((quota)/1024)/1024)/1024|number:2}}
                        GB</p>
                </li>

            </ul>
        </div>

        <div class="blue-grey">
            <a href="/sharewithme"><i class="material-icons md-28 white-text">&nbsp;&nbsp;home</i></a>

            <!--<a href="#!" class="breadcrumb">Third</a>-->
        </div>

        <div class="content">
            <table class="center responsive highlight users" style="word-wrap:break-word;">
                <thead>
                    <tr>
                        <th class="row-1 row-type"></th>
                        <th class="row-2 row-name">Name</th>
                        <th class="row-3 row-owner">Owner</th>
                        <th class="row-4 row-size">File size</th>
                        <th class="row-5 row-function"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak ng-repeat="sharedfolder in sharedfolderlist">
                        <td><i class="small material-icons blue-text" onmouseover="" style="cursor: pointer;" ng-click="getSharedfolderContent(sharedfolder.foldername,sharedfolder.path)">folder</i></td>
                        <td>{{sharedfolder.foldername}}</td>
                        <td>{{sharedfolder.owner}}</td>
                        <td>-</td>
                        <td>
                            <!--<a class="tooltipped" href="" ng-click="removeFolder(folder)" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="red-text material-icons">delete</i></a>-->
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr ng-cloak ng-repeat="sharedfile in sharedfilelist">
                        <td><i class="small material-icons yellow-text">description</i></td>
                        <td>{{sharedfile.filename}}</td>
                        <td>{{sharedfile.owner}}</td>


                        <td ng-if="sharedfile.size/1024 > 1024000">{{(sharedfile.size/1024)/1024|number:2}} GB</td>
                        <td ng-if="sharedfile.size/1024 > 1024 && sharedfile.size/1024 <= 1024000 ">{{(sharedfile.size/1024)/1024|number:2}} MB</td>
                        <td ng-if="sharedfile.size/1024 <= 1024">{{(sharedfile.size/1024)|number:2}} KB</td>
                        <td>
                            <!--<a class="tooltipped" href="" ng-click="remove(file)" data-position="bottom"><i class="red-text material-icons">delete</i></a>-->
                            <a class="tooltipped" data-position="bottom" ng-href="/downloadshare/{{sharedfile.filename}}/{{sharedfile.path}}"><i class="green-text material-icons">file_download</i></a>
                        </td>


                    </tr>
                </tbody>

                <!-- SUBFOLDER SECTION -->

                <tbody>
                    <tr ng-cloak ng-repeat="subfolder in subfolderlist">
                        <td><i class="small material-icons blue-text" onmouseover="" style="cursor: pointer;" ng-click="getSubfolderContent(subfolder.foldername)">folder</i></td>
                        <td>{{subfolder.foldername}}</td>
                        <td>{{subfolder.owner}}</td>
                        <td>-</td>
                        <td>
                            <!--<a class="tooltipped" href="" ng-click="removeFolder(folder)" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="red-text material-icons">delete</i></a>-->
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr ng-cloak ng-repeat="subfile in subfilelist">
                        <td><i class="small material-icons yellow-text">description</i></td>
                        <td>{{subfile.filename}}</td>
                        <td>{{subfile.owner}}</td>


                        <td ng-if="subfile.size/1024 > 1024000">{{(subfile.size/1024)/1024|number:2}} GB</td>
                        <td ng-if="subfile.size/1024 > 1024 && subfile.size/1024 <= 1024000 ">{{(subfile.size/1024)/1024|number:2}} MB</td>
                        <td ng-if="subfile.size/1024 <= 1024">{{(subfile.size/1024)|number:2}} KB</td>
                        <td>
                            <!--<a class="tooltipped" href="" ng-click="remove(file)" data-position="bottom"><i class="red-text material-icons">delete</i></a>-->
                            <a class="tooltipped" data-position="bottom" ng-href="/downloadshare/{{subfile.filename}}/{{path}}"><i class="green-text material-icons">file_download</i></a>
                        </td>


                    </tr>
                </tbody>
                <!--........................................................................-->
            </table>

        </div>
        <!--<div class="fixed-action-btn horizontal fade" style="bottom: 20px; right: 20px;">
            <a class="btn-floating btn-large blue darken-4">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating btn tooltipped btn modal-trigger blue lighten-1" href="#modal5" data-position="top" data-delay="50"
                        data-tooltip=" Upload file">
                        <i class="material-icons">file_upload</i>
                    </a>

                </li>
                <li>
                    <a class="btn-floating btn tooltipped btn modal-trigger blue lighten-1" href="#modal1" data-position="top" data-delay="50"
                        data-tooltip=" New folder">
                        <i class="material-icons">create_new_folder</i>
                    </a>
                </li>
            </ul>
        </div>-->

    </div>


    <!--pop up share link-->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Share link</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input value="www.google.com" id="first_name2" type="text" class="validate">
                </div>
            </div>
        </div>
    </div>

    <!--pop up new folder-->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Create new folder</h4>
            <form action="/sharedcreatefolder" method="post" enctype="application/json">
                <input type="text" id="name" name="name" placeholder="Enter your foldername" />
                <div class="modal-footer">
                    <div class="waves-effect waves-green btn-flat pull-right">
                        <input type="submit" value="Create" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--pop up new file-->
    <div id="modal5" class="modal">
        <div class="modal-content">
            <h4>Upload file</h4>
            <div class="row">
                <div class="input-field col s12">
                    <form action="/shareuploadfile" method="post" enctype="multipart/form-data">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Browse</span>
                                <input type="file" name="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                            <div class="modal-footer" id='fsize'>
                                <div class="waves-effect waves-green btn-flat pull-right">
                                    <input type="submit" value="Upload">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-modalmanager.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.mobile").click(function() {
                $(".sidebar").slideToggle('fast');
            });

            window.onresize = function(event) {
                if ($(window).width() > 480) {
                    $(".sidebar").show();
                }
            };

            $(document).ready(function() {
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal-trigger').leanModal();
            });
            $(document).ready(function() {
                $('.scrollspy').scrollSpy();
            });


        });
    </script>
    <script type="text/javascript">
        $(window).scroll(function() {

            if ($(this).scrollTop() > 0) {
                $('.fade').fadeOut();
            } else {
                $('.fade').fadeIn();
            }
        });
        $(window).load(function() {
            setTimeout(function() {
                $('#loading').hide();

            }, 500);


        });
    </script>
    <script src="js/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="controllers/sharewithme_ctrl.js"></script>
</body>

</html>